{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}	
<div class="noo-product-inner">
  <div class="noo-product-thumbnail">
    <a href="{{product.url}}">
   
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="" /> 
      {% for image in product.images %}

      {%if forloop.last %}
        <img src="{{ image.src | product_img_url: 'large' }}" alt="" class="second-img" /> 
      {%endif%}
      {% endfor %}
      
    </a>
    <div class="noo-product-meta">

      <div class="wishlist-button">
      {%include 'add-wishlist'%}
      </div>
      <div class="noo-quick-view">
         <a href="javascript:void(0)"  data-id="{{ product.handle }}" class="zoom quick-view engoj-btn-quickview" title="{{ settings.product_quickview_name }}"></a>
        </div>
    </div>
  </div>
   <h3><a href="{{product.url}}">{{product.title}}</a></h3>
  <div class="shop-loo-after-item">
    <div class="price">
     {% capture price %}{{ product.price | money }}{% endcapture %}
    {% if on_sale %}
    <del>{{ product.compare_at_price | money }}</del> 
    {% endif %}
    {% if product.price_varies %}
    <ins>{{ 'products.general.from_text_html' | t: price: price }}</ins>
    {% else %}
    <ins>{{ price }}</ins>
    {% endif %}
    </div>
    <div class="star-rating">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
  </div>
  <div class="noo-loop-cart">
    {% if product.variants.size > 1 %}

    <a href="{{ product.url | within: collection }}" class="button add-to-cart" title="{{settings.product_select_option_name }}"></a>
    {% else %}

    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      <button type="submit" name="add" id="AddToCart{{ product.id }}" class="button add-to-cart add-to-cart-button enj-add-to-cart-btn" title="{{ settings.product_cart_name }}">

      </button>
    </form>
    {% endif %}
  </div>
</div>