 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p1.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p2.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p2.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p3.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p3.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p4.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p4.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p5.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p5.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p6.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p6.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p7.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p7.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p8.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p8.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p1.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p1.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p2.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p2.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p3.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p3.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p4.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>
 
<div class="product">
  <div class="product-images">
    <a href="/admin/products/new" title="product-images">
       <img class="primary_image" src="{{'p4.png'| asset_url}}" alt=""/>
       <img class="secondary_image" src="{{'p5.png'| asset_url}}" alt=""/>
     </a>
  </div>
  <a href="#" title="Union Bed"><p class="product-title">EXAMPLE PRODUCT</p></a>
  <p class="product-price-old">$700.00</p>
  <p class="product-price">$350.00</p>

</div>