<div class="noo-product-item col-md-3 col-sm-6">
  <div class="noo-product-inner">
    <h3><a href="/admin/products/new">Modern Red Chair</a></h3>
    <span class="posted_in"><a href="#">Decor</a></span>
    <span class="onsale">Sale!</span>
    <div class="noo-product-thumbnail">
      <div class="noo-product-meta">
       
        <div class="wishlist-button">
          <a href="#">Wishlist</a>
        </div>
        <div class="noo-quick-view">
          <a href="ajax/product-quickview.html"></a>
        </div>
      </div>
      <div class="noo-product-slider">
        <a href="/admin/products/new">
          <img src="{{'p1.png'|asset_url}}" alt="" /> 
        </a>
        <a href="/admin/products/new">
          <img src="{{'p2.png'|asset_url}}" alt="" /> 
        </a>
      </div>
    </div>
    <div class="price">
      <del>&#36;270.00</del> 
      <ins>&#36;239.00</ins>
    </div>
    <div class="noo-loop-cart">
      <a href="/admin/products/new" class="button add-to-cart"></a>
    </div>
  </div>
</div>
<div class="noo-product-item col-md-3 col-sm-6">
  <div class="noo-product-inner">
    <h3><a href="/admin/products/new">Modern Red Chair</a></h3>
    <span class="posted_in"><a href="#">Decor</a></span>
    <span class="onsale">Sale!</span>
    <div class="noo-product-thumbnail">
      <div class="noo-product-meta">
       
        <div class="wishlist-button">
          <a href="#">Wishlist</a>
        </div>
        <div class="noo-quick-view">
          <a href="ajax/product-quickview.html"></a>
        </div>
      </div>
      <div class="noo-product-slider">
        <a href="/admin/products/new">
          <img src="{{'p2.png'|asset_url}}" alt="" /> 
        </a>
        <a href="/admin/products/new">
          <img src="{{'p3.png'|asset_url}}" alt="" /> 
        </a>
      </div>
    </div>
    <div class="price">
      <del>&#36;270.00</del> 
      <ins>&#36;239.00</ins>
    </div>
    <div class="noo-loop-cart">
      <a href="/admin/products/new" class="button add-to-cart"></a>
    </div>
  </div>
</div>
<div class="noo-product-item col-md-3 col-sm-6">
  <div class="noo-product-inner">
    <h3><a href="/admin/products/new">Modern Red Chair</a></h3>
    <span class="posted_in"><a href="#">Decor</a></span>
    <span class="onsale">Sale!</span>
    <div class="noo-product-thumbnail">
      <div class="noo-product-meta">
       
        <div class="wishlist-button">
          <a href="#">Wishlist</a>
        </div>
        <div class="noo-quick-view">
          <a href="ajax/product-quickview.html"></a>
        </div>
      </div>
      <div class="noo-product-slider">
        <a href="/admin/products/new">
          <img src="{{'p3.png'|asset_url}}" alt="" /> 
        </a>
        <a href="/admin/products/new">
          <img src="{{'p4.png'|asset_url}}" alt="" /> 
        </a>
      </div>
    </div>
    <div class="price">
      <del>&#36;270.00</del> 
      <ins>&#36;239.00</ins>
    </div>
    <div class="noo-loop-cart">
      <a href="/admin/products/new" class="button add-to-cart"></a>
    </div>
  </div>
</div>
<div class="noo-product-item col-md-3 col-sm-6">
  <div class="noo-product-inner">
    <h3><a href="/admin/products/new">Modern Red Chair</a></h3>
    <span class="posted_in"><a href="#">Decor</a></span>
    <span class="onsale">Sale!</span>
    <div class="noo-product-thumbnail">
      <div class="noo-product-meta">
       
        <div class="wishlist-button">
          <a href="#">Wishlist</a>
        </div>
        <div class="noo-quick-view">
          <a href="ajax/product-quickview.html"></a>
        </div>
      </div>
      <div class="noo-product-slider">
        <a href="/admin/products/new">
          <img src="{{'p4.png'|asset_url}}" alt="" /> 
        </a>
        <a href="/admin/products/new">
          <img src="{{'p5.png'|asset_url}}" alt="" /> 
        </a>
      </div>
    </div>
    <div class="price">
      <del>&#36;270.00</del> 
      <ins>&#36;239.00</ins>
    </div>
    <div class="noo-loop-cart">
      <a href="/admin/products/new" class="button add-to-cart"></a>
    </div>
  </div>
</div>
<div class="noo-product-item col-md-3 col-sm-6">
  <div class="noo-product-inner">
    <h3><a href="/admin/products/new">Modern Red Chair</a></h3>
    <span class="posted_in"><a href="#">Decor</a></span>
    <span class="onsale">Sale!</span>
    <div class="noo-product-thumbnail">
      <div class="noo-product-meta">
       
        <div class="wishlist-button">
          <a href="#">Wishlist</a>
        </div>
        <div class="noo-quick-view">
          <a href="ajax/product-quickview.html"></a>
        </div>
      </div>
      <div class="noo-product-slider">
        <a href="/admin/products/new">
          <img src="{{'p5.png'|asset_url}}" alt="" /> 
        </a>
        <a href="/admin/products/new">
          <img src="{{'p6.png'|asset_url}}" alt="" /> 
        </a>
      </div>
    </div>
    <div class="price">
      <del>&#36;270.00</del> 
      <ins>&#36;239.00</ins>
    </div>
    <div class="noo-loop-cart">
      <a href="/admin/products/new" class="button add-to-cart"></a>
    </div>
  </div>
</div>
<div class="noo-product-item col-md-3 col-sm-6">
  <div class="noo-product-inner">
    <h3><a href="/admin/products/new">Modern Red Chair</a></h3>
    <span class="posted_in"><a href="#">Decor</a></span>
    <span class="onsale">Sale!</span>
    <div class="noo-product-thumbnail">
      <div class="noo-product-meta">
       
        <div class="wishlist-button">
          <a href="#">Wishlist</a>
        </div>
        <div class="noo-quick-view">
          <a href="ajax/product-quickview.html"></a>
        </div>
      </div>
      <div class="noo-product-slider">
        <a href="/admin/products/new">
          <img src="{{'p6.png'|asset_url}}" alt="" /> 
        </a>
        <a href="/admin/products/new">
          <img src="{{'p7.png'|asset_url}}" alt="" /> 
        </a>
      </div>
    </div>
    <div class="price">
      <del>&#36;270.00</del> 
      <ins>&#36;239.00</ins>
    </div>
    <div class="noo-loop-cart">
      <a href="/admin/products/new" class="button add-to-cart"></a>
    </div>
  </div>
</div>
